<%= render Gustwave::Form::RichText::Trix::Button.new(:href, **@options) %>
<%= render @popover do %>
  <div class="p-3 flex flex-nowrap gap-2">
    <input type="url"
           name="href"
           placeholder="Enter a URL..."
           data-trix-input
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-64">
    <%= render Gustwave::Button.new("Speichern",
                                    data: {
                                      "trix-method": "setAttribute"
                                    },
                                    class: "")
    %>
  </div>
<% end %>
