<nav class="flex w-full sm:w-auto" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse truncate">
    <%= home_slot if home_slot? %>
    <% sections.each do |section| %>
      <%= section %>
    <% end %>
  </ol>
</nav>
