<% if has_errors? %>
  <div class="*:border-red-400 *:bg-red-50">
    <%= content %>
  </div>
  <p class="ms-1 mt-2 text-sm text-red-600"><span class="font-medium" id="error-message-for-<%= @error_field.to_param %>"><%= @errors[@error_field].first %></span></p>
<% else %>
  <%= content %>
<% end %>
