<div class="text-center">
  <div class="sm:flex sm:items-center sm:justify-center sm:gap-x-4 text-center">
    <%= tag.span t(".view_now"),
                 class: "font-mono mb-4 sm:mb-0"
    %>
    <div class="flex flex-col sm:flex-row sm:items-center sm:gap-x-4"  role="group">
      <%= render ButtonComponent
                   .new(tag: :a,
                        href: projects_path,
                        scheme: :alternative,
                        size: :large,
                        class: "mt-4 sm:mt-0")
                   .with_content(t ".interesting_initiatives")
      %>
      <%= render ButtonComponent
                   .new(tag: :a,
                        href: tasks_path,
                        size: :large,
                        class: "mt-4 sm:mt-0")
                   .with_content(t ".variety_of_tasks")
      %>
    </div>
  </div>
</div>
