<% cache ["brand", @brand.updated_at] do %>
    <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
      <%= image_tag(url_for(@brand.logo), class: "h-8 sm:h-11 mb-1") %>
      <% if @brand.display_name? %>
        <span class="bg-blue-100 text-blue-800 text-md sm:text-2xl font-normal sm:font-extrabold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 truncate overflow-hidden">
          <%= @brand.name %>
        </span>
      <% end %>
    <% end %>
<% end %>
