<div id="brand">
  <%# cache ["brand", @brand.updated_at] do %>
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <%= render TendrilTasks::Logo.new %>
      <%= render TendrilTasks::Navigation::BrandBadge.new(@brand) %>
    </div>
  <%# end %>
</div>
