<div class="group w-full border border-gray-200 rounded-lg dark:border-gray-600">
  <%= tag.div **@toolbar_container_options do %>
    <%= render_toolbar %>
  <% end %>
  <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
    <%= render_editor %>
  </div>
</div>
