<%= render Gustwave::Dropdown.new(placement: :bottom_start,
                                  menu_id: "avatar-dropdown-menu") do |dropdown|
%>
  <% dropdown.trigger do %>
    <%= render TendrilTasks::Avatar.new(
      current_user,
      size: :md,
      type: :button,
      class: styles(avatar: true)
    ) %>
  <% end %>
  <% dropdown.menu class: "min-w-44" do |menu| %>
    <% menu.header class: "space-y-1" do %>
      <div><%= current_user.name %></div>
      <div><%= render TendrilTasks::RoleBadge.new(current_user, size: :xs) %></div>
    <% end %>
    <% menu.item t(".profile"),
                 href: profile_path,
                 icon: :profile_card
    %>
    <% menu.item t(".dashboard"),
                 href: dashboard_index_path,
                 icon: :chalkboard
    %>
    <% if show_admin_settings? %>
      <% menu.divider %>
      <% menu.item t(".administration"),
                   href: admin_index_path,
                   icon: :cog
      %>
    <% end %>
    <% menu.divider %>
    <% menu.item t(".logout"),
                 icon: :arrow_left_to_bracket,
                 href: destroy_user_session_path,
                 data: { "turbo-method": :delete }
    %>
  <% end %>
<% end %>
